/* Add here all your CSS customizations */

.jumbostron-cotiza {
    margin: 10px 0;
    background-color: #ffffff;
}

.jumbostron-cotiza label {
    font-size: 18px;
    color: darkgray
}


.form-change {
    color: grey
}

.form-change .row {
    padding: 20px 0
}

.form-change h3 {
    color: #616161 !important
}

.img-sistema-slc {
    height: 50px;
    width: auto;
}

.center-img-slc {
    padding: 0 40px;

}

.input-group-addon-custom {
    background-color: #383F48;
    color: #ffffff;
    -ms-border-radius: 0px 10px 10px 0px !important;
    -moz-border-radius: 0px 10px 10px 0px !important;
    -webkit-border-radius: 0px 10px 10px 0px !important;
    border-radius: 0px 10px 10px 0px !important;
    border: 0px solid #000000 !important;
}


.section.section {
    margin: 0px 0;
}

.span-option-content img {
    padding-right: 10px
}

.dropdown-menu > li > a {
    padding: 5px 10px;
}

.jumbotron {
    padding-top: 10px;
    padding-bottom: 10px;
}